[Desktop Entry]
Type=Application

Name=skyemu
Exec=/opt/silly/SkyEmu/build/bin/SkyEmu /opt/silly/illegal_rom/pokered.gbc
Path=/opt/silly/SkyEmu

NoDisplay=false
